@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Lato", sans-serif;
}

@layer base {
	:root {
		--background: 72 70% 99%;
		--foreground: 72 72% 3%;
		--muted: 72 38% 90%;
		--muted-foreground: 72 4% 39%;
		--popover: 72 70% 98%;
		--popover-foreground: 72 72% 2%;
		--card: 72 70% 98%;
		--card-foreground: 72 72% 2%;
		--border: 72 14% 91%;
		--input: 72 14% 91%;
		--primary: 72 80% 29%;
		--primary-foreground: 0 0% 100%;
		--secondary: 72 16% 82%;
		--secondary-foreground: 72 16% 22%;
		--accent: 72 16% 82%;
		--accent-foreground: 72 16% 22%;
		--destructive: 16 90% 34%;
		--destructive-foreground: 0 0% 100%;
		--ring: 72 80% 29%;
		--radius: 0.3rem;
	}

	.dark {
		--background: 72 36% 4%;
		--foreground: 72 30% 98%;
		--muted: 72 38% 10%;
		--muted-foreground: 72 4% 61%;
		--popover: 72 36% 5%;
		--popover-foreground: 72 30% 99%;
		--card: 72 36% 5%;
		--card-foreground: 72 30% 99%;
		--border: 72 14% 15%;
		--input: 72 14% 15%;
		--primary: 72 80% 29%;
		--primary-foreground: 0 0% 100%;
		--secondary: 72 20% 15%;
		--secondary-foreground: 72 20% 75%;
		--accent: 72 20% 15%;
		--accent-foreground: 72 20% 75%;
		--destructive: 16 90% 52%;
		--destructive-foreground: 0 0% 100%;
		--ring: 72 80% 29%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
